<ion-view title="Game">

    <ion-nav-buttons side="right">
        <a ng-click="share()" class="button button-icon icon ion-share"></a>
    </ion-nav-buttons>

    <ion-content>

        <!-- если нет ссылок -->
        <div ng-show="game.items.web.length == 0 && game.items.sopcast.length == 0 && game.items.torrent.length == 0">
            <p>Live streams will be available approximately 30 minutes before the broadcast's start...</p>
        </div>

        <!-- ссылки для веба -->
        <div ng-show="game.items.web" class="list">

            <div class="item item-divider" style="background: #403C3C; color: white;">
                Browser links
            </div>

            <a class="item item-icon-right" ng-click="openLink(item.link)" ng-repeat="item in game.items.web">
                <span>#{{$index + 1}}</span>
                <span ng-show="item.lang">{{item.lang}}</span>
                <i class="icon ion-eye"></i>
            </a>

        </div>

        <!-- сопки -->
        <div ng-show="game.items.sopcast" class="list">

            <div class="item item-divider" style="background: #403C3C; color: white;">
                Sopcast links
            </div>

            <a class="item item-icon-right" ng-click="openLink(item.link)" ng-repeat="item in game.items.sopcast">
                <span>#{{$index + 1}}</span>
                <span ng-show="item.lang">{{item.lang}}</span>
                <i class="icon ion-eye"></i>
            </a>

        </div>

        <!-- торрент ссылки -->
        <div ng-show="game.items.torrent" class="list">

            <div class="item item-divider" style="background: #403C3C; color: white;">
                Torrent links
            </div>

            <a class="item item-icon-right" ng-click="openLink(item.link)" ng-repeat="item in game.items.torrent">
                <span>#{{$index + 1}}</span>
                <span ng-show="item.lang">{{item.lang}}</span>
                <i class="icon ion-eye"></i>
            </a>

        </div>

    </ion-content>
</ion-view>