<ion-view title="Football streams">

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-clock" ng-click="openTimezoneModal()">
        </button>
    </ion-nav-buttons>

    <ion-content>

        <ion-list>

            <ion-item ui-sref="stream.games.detail({gameID: $index})" ng-repeat="game in games" class="item item-icon-right">
                <p class="bolder">
                    {{game.teamHome}}
                    <span ng-show="showLiveLabel($index)">{{game.goalsHome}}</span>
                    -
                    <span ng-show="showLiveLabel($index)">{{game.goalsAway}}</span>
                    {{game.teamAway}}
                    <span class="badge badge-assertive" ng-show="showLiveLabel($index)">LIVE!</span>
                </p>
                <p>{{game.championship}}</p>
                <p>{{game.gameDate| asDate | dateToTimezone:timezoneOffset | date:'d MMMM yyyy H:mm'}}</p>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>