<!DOCTYPE html>
<html ng-app="bb-mobile">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
      <script src="lib/ionic/js/ionic.bundle.js"></script>

      <!-- your app's js -->
      <script src="js/app.js"></script>
      <script src="js/timezones.js"></script>

      <script src="lib/ngCordova/dist/ng-cordova.js"></script>

      <!-- cordova script (this will be a 404 during development) -->
      <script src="cordova.js"></script>


  </head>

  <body>

  <ion-nav-view class="pane"></ion-nav-view>

  <script type="text/ng-template" id="main.html">

    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-tabs class="tabs-positive">

        <ion-tab icon="ion-monitor" ui-sref="stream.games">
            <ion-nav-view class="pane" name="games"></ion-nav-view>
        </ion-tab>

        <ion-tab icon="ion-stats-bars" ui-sref="stream.predictor">
            <ion-nav-view class="pane" name="predictor"></ion-nav-view>
        </ion-tab>

    </ion-tabs>

  </script>

  <script type="text/ng-template" id="modal-timezone.html">
      <ion-modal-view>

          <ion-header-bar class="bar bar-header bar-positive">
              <button ng-click="closeTimezoneModal()" class="button button-icon icon ion-close-circled"></button>
              <h1 class="title">Select timezone</h1>
          </ion-header-bar>

          <ion-content>

              <div class="list">

                  <a ng-click="selectTimezone($index)" class="item item-icon-right" ng-repeat="tz in timezones">
                      {{tz.name}} {{tz.offset | gmt}}
                      <i ng-show="$index == timezoneIndex" class="icon ion-checkmark-round"></i>
                  </a>

              </div>

          </ion-content>

      </ion-modal-view>
  </script>

  </body>

</html>
