<ion-side-menus>
    <!-- content -->
    <ion-side-menu-content>

        <ion-nav-buttons side="left">
            <button ng-click="toggleLeft()" class="button button-icon button-clear ion-navicon"></button>
        </ion-nav-buttons>

        <!-- Поменять на чемпионат -->
        <ion-view title="Football predictor">

            <ion-content>

                <!-- SELECT команд -->
                <div class="list">

                    <label class="item item-input item-select">
                        <div class="input-label">
                            Home team
                        </div>
                        <select ng-change="clearPredictorView()" ng-model="selects.teamHome" ng-options="leagueTeam.name for leagueTeam in leagueTeams track by leagueTeam.id">
                        </select>
                    </label>

                    <label class="item item-input item-select">
                        <div class="input-label">
                            Away team
                        </div>
                        <select ng-change="clearPredictorView()" ng-model="selects.teamAway" ng-options="leagueTeam.name for leagueTeam in leagueTeams track by leagueTeam.id">
                        </select>
                    </label>

                </div>

                <!-- блок с прогнозами -->
                <div ng-show="showPredBlock" class="row">
                    <div class="col">

                        <!-- лого клубов -->
                        <div class="row center-button">
                            <div class="col col-33 center-vertically">
                                <img class="full-image" ng-src="{{homeImgPath}}">
                            </div>
                            <div class="col col-34 center-vertically">
                                <h1> <span>{{teamHomeGoals}}</span> : <span>{{teamAwayGoals}}</span> </h1>
                            </div>
                            <div class="col col-33 center-vertically">
                                <img class="full-image" ng-src="{{awayImgPath}}">
                            </div>
                        </div>

                        <!-- прогнозы -->
                        <div class="card">
                            <div class="item item-divider" style="background: #403C3C; color: white;">
                                Recommended bets
                            </div>
                            <div class="item item-text-wrap" ng-repeat="bet in bets">
                                {{bet}}
                            </div>
                        </div>

                    </div>
                </div>


                <!-- кнопка прогноза -->
                <div  ng-show="showGetPredictButton" class="row">
                    <div class="col center-button">

                        <button ng-click="showPrediction()" class="button button-balanced">
                            Get prediction
                            <i ng-show="showPredictLoader" class="icon ion-looping"></i>
                        </button>

                    </div>
                </div>

            </ion-content>

        </ion-view>

    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left">

        <ion-content>

            <div class="list">

                <a class="item item-avatar" ng-click="changeTeams($index)" ng-repeat="team in teams">
                    <img ng-src="img/leagues/{{team.league | nospace | lowercase}}.png" >
                    <h2>{{getCountryName(team.league)}}</h2>
                    <p>{{getLeagueName(team.league)}}</p>
                </a>

            </div>

        </ion-content>

    </ion-side-menu>

</ion-side-menus>




